requests
Flask
Flask-Migrate
Flask-SQLAlchemy
flask_wtf
gunicorn
SQLAlchemy
mysql-connector-python
async-timeout
certifi
charset-normalizer
crashtest
Jinja2
MarkupSafe
packaging
pptree
pydantic
pylev
pyparsing
python-dotenv
python-ulid
six
types-six
typing-extensions
urllib3
Werkzeug
wrapt
